<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/StyleSheet1.css" />
    <link rel="Stylesheet" href="" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <script src="~/lib/jquery-validate/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

</head>
<body>
    <header>        
    <navbar-brand>
        <a asp-controller="Home" asp-action="Index"><img src="~/img/btApp.jpg"/> </a>
    </navbar-brand>

        <nav>        
            <ul>
                <li> 
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li> 
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Library">Library</a>
                </li>
                <li>
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Analitycs">Analitycs</a>
                </li>
                
                <li>
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
                </li>
                @if(User.Identity.IsAuthenticated)
                {                    
                    @*<li>
                        <a class="nav-link text-dark" asp-area="" asp-controller="Authentication" asp-action="LogOut">Log Out @User.Identity.Name</a>
                    </li>*@
                    <div class="dropdown">
                      <button onclick="myFunction()" class="dropbtn">Hello @User.Identity.Name! <i class="fa-sharp fa-regular fa-square-caret-down"></i></button>
                      <div id="myDropdown" class="dropdown-content nav-link-menu">
                        <a  asp-area="" asp-controller="Home" asp-action="Profile">Profile</a>
                        <a  asp-area="" asp-controller="Home" asp-action="Friends">Friends</a>
                        <a  asp-area="" asp-controller="Authentication" asp-action="LogOut">Log Out</a>                        
                      </div>
                    </div>
                }
            </ul>
        </nav>
    </header>

    <search-bar>
        <form action="/Home/FetchBook" method="post" class="form-fetch-book" role="form">
            <input type="text" name="book" placeholder="Title" class="input-book-search"/>
            <input type="text" name="author" class="input-book-search" placeholder="Author" />
            <button type="submit" class="btn-book-search">Search</button>
        </form>
    </search-bar>
    
    <main>

    <div>
       @RenderBody()
    </div>
    </main>
    <footer>
        Copyright 2005 - 2023, Book Tracking App, Stockolm, Sweden | <a href="#">Privacy Policy</a>
    </footer>
    <script src='~/JavaScript.js'>
        
    </script>
    <script>
/* When the user clicks on the button, 
toggle between hiding and showing the dropdown content */
function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>
</body>
</html>
