/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
body {
    margin: 0;
    height: 100%;
    background-color: #fff;
    font-family: sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: /*1fr*/ 40px 40px auto 40px;
    grid-template-areas:
        /*"navbar  navbar  navbar  navbar"*/
        "header  header  header  header"
        "sidebar sidebar sidebar sidebar"
        "main    main    main    main"
        "footer  footer  footer  footer";
}

/*@media screen and (min-width: 768px){
    body {*/
        /*display: grid;*/
        /*grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto 40px auto 40px;
        grid-template-areas:
            "navbar  navbar  header  header"
            "sidebar main    main    main"
            "sidebar main    main    main"
            "footer  footer  footer  footer";
    }
    navbar-brand img {
        width: 60px;
        height: 60px;
    }
    navbar-brand{*/
        /*grid-area: navbar;
        grid-column-start:1;
        grid-column-end:2;*/
    /*}
    header {
        grid-column-start: 2;
        grid-column-end: 5;
    }
}*/

.container {
    min-height: 400px;
    display: grid;
    
    justify-content: center;
}

navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

navbar-brand img{
    width: 80px;
    height: 80px;
} 

a {
    color: #fff;
    text-decoration: none;
}



.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}
header {
    display: grid;
    grid-area: header;
    grid-column-start: 1;
    grid-column-end: 5;
    background-color: #6D929B;

    justify-content:space-around;
}
navbar-brand {
    /*grid-area: navbar;*/
    background-color: #6D929B;
}
sidebar {
    grid-area: sidebar;
    background-color: #C1DAD6;
}

main {
    grid-area: main;
    background-color: #F5FAFA;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
    grid-area: footer;
    background-color: #E8D0A9;
}

nav {
    color: #fff;
    text-decoration: none;    

    /*white-space: normal;
    text-align: center;
    word-break: break-all;*/
}


ul li {
    justify-content: center;
    padding: 15px;
    display: inline;   
}

.bg-ligth-green {
    background-color: #6D929B;
}

.bg-ligth-blue {
    background-color: #C1DAD6;
}

.form-add-book {
    margin-top: 18px;
}
.form-add-new-book{
    margin: 20px;    
}

.submit-btn {
    margin-top: 40px;

    /* remove default behavior 
    appearance: none;
    -webkit-appearance: none;
     usual styles */
    /*padding: 10px;
    border: none;
    background-color: #3F51B5;
    color: #fff;
    font-weight: 600;
    border-radius: 5px;
    width: 100%;*/

}
input {
    width: 100%;
    border-radius: 10px;
    height: 30px;
    
    border-color: #6D929B;
    font-size: 20px;
    box-shadow: inset;
}

textarea {
    width: 100%;
    border-radius: 10px;
    height: 30px;
    border-color: #6D929B;
    box-shadow: inset;
    font-size: 20px;
}

select {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
}