@model Rootobject

@{
    ViewData["Title"] = "Add Searched Book";
}

<div class="container">

    @{
        for ( int i = 0;i < 4;i++)
        {
            <p>
                @Model.items[i].volumeInfo.title
            </p>
            
        }

    }

</div>