@model UserProfile
@{

}
<div>
    <div class="profileDiv">
        <H2>User Id: </H2><h2>@Model.Id</h2>
    </div>
    <div class="profileDiv">
        <H2>User Name: </H2><h2>@Model.Name</h2>
    </div>
    <div class="profileDiv">
        <H2>User Total Books: </H2><h2>@Model.TotalBooks</h2>
    </div>
    <div class="profileDiv">
        <H2>User Total Friends: </H2><h2>@Model.TotalFriends</h2>
    </div>
</div>
